body{
	background-repeat: repeat;
	font-family: Arial, Georgia, sans-serif;
	font-size: 12pt;
	line-height: 1.25em;
	background-image: url('./bg.png');
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 1%;
} 
table{
	margin-left:auto; 
    margin-right:auto;
	width: 85%;
	border: 0;
}
h1 {
 	color: #FFFFFF;
	font: 32px  Georgia, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

 
a {
	color: #db3b5d;
}

a:hover {
	color: #99CC00;
	text-transform: uppercase;
	}
 
span{
	color: #FF0000;
	font-weight: bold;
}
.favoritequote {
	font-style:italic;
	font-size:20px;
	padding-left:10px;
	color:#333333;
	text-align: center;
}


#leftbar{
	background-color: #F8EFCF;
	background-image: url('./bg.png');
	width:65%; 
	height: 100%;
	float: left;
}

#leftbar p{
	
	padding-left:15px;
	padding-right:15px;
}

#leftbar h3{
	font-size:15px;
	font-weight: bold; 
	text-align: left; 
	text-transform: uppercase;
	padding-left:5px;
	
}	
#leftbar section{
	
	padding-bottom:2px;
}
	
#rightbar{
	clear: right;
	width:35%;
	float: right;
	background-image: url('./rightbg.jpg');
}	

#rightbar section{
	
	text-align: center;
}

#rightbar img{
	width:100%; 
	position: center;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
} 

#rightbar  h2{
	text-align: left;
}	
#rightbar  h3{
	font-size:25px;
	font-weight: bold;
	font-style:italic;
	color:#333333;
	text-align: left;
	padding-left:10px;
}	
 
#header{
	 	background: #db3b5d;
		height: 5em;

}

#header h1{
	 padding-top: 20px;
}


#rightbar table.zebrastrip {
	font-size:16px; 
	color:#db3b5d;
	width:90%;
	text-align: center;
	padding-bottom:18px;
}

#rightbar  table.zebrastrip tr:nth-of-type(odd) {
	
	background-color: #484848;
}
#rightbar  table.zebrastrip tr:nth-of-type(even) {
	
	background-color: #F8F8F8;
}

  
#footer {
	background : #242424;
	clear: both;
}	


#footer p{
	color: #606366;
	text-align: center;
	 padding-top: 15px;
	 padding-bottom: 10px;
}
