body{
 background-color: #FFCC00;
 font-family: sans-serif;
}

.headings{
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

ul#menu {
    margin-left: 15px;
}

ul#menu li {
    display: inline;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	/*padding: 5px 10px;*/
	
	}
	

ul#menu li a {
    background-color: #F2F5A9;
    color: #003366;
    padding: 5px 10px;
 	text-decoration:none;
	font-weight:bold;
	border-right: solid #003366 15px;
}

table{
	/*color: white;*/
	background-color: white;
	margin-top: 20px;
	}

caption{
	background-color: #F0F0F0;
	color: #A4A400;
/*	border: 2px solid white;*/
	padding: 5px;
	text-align: center;
	font-weight:bold;
}

th{
	background-color: #003366;
	color: #FFFFFF;
	
}

td{
	background-color: #CC9933;
	padding: 5px;
}