* {
	padding:0;
	margin:0;
	font-family:Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
	font-size:13px;
}

#wrapper {
	width:100%;
	height:100%;
}

#header {
	height:100px;
	/*background: #003b64;*/
	
	background: #31B404;
	
}
.upper_header {
	height:40px;
	border-bottom:1px solid #31B404;
}

.lower_header {
	height:60px;
}

.i {
	font-style:italic;
}

.clear {
	clear:both;
}

.nav {
	list-style:none;
	float:right;
}
.nav  li {
	margin-left:20px;
	float:left;
	height:30px;
	padding-top:12px;
}
.nav li a {
	color:#ffffff;	
	text-decoration:none;
}
.nav li a:hover {
	text-decoration:underline;
}

.nav li.store_search {
	margin-left:105px;
	background:url('images/store.png') no-repeat 0 8px;
	background-size: 24px 24px;
	padding-left:30px;
}
.nav li.help {
	background:url('images/help_page_sign.png') no-repeat 0 8px;
	background-size: 24px 24px;
	padding-left:30px;
}
#topnav {
	color:#ffffff;
}

#topnav  span{
	line-height:38px;
}

#content {
	width:1000px;
	margin:-100px auto;
}


.big_nav {
	list-style:none;
	float:left;
}
.big_nav  li {
	margin-right:20px;
	line-height:32px;
	float:left;
	height:30px;
	padding-top:12px;
}
.big_nav li a {
	color:#ffffff;	
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.big_nav li.coupon img {
	vertical-align:middle;
	margin-top:-7px;
}

.big_nav li.search  input{
	padding:7px;
	width:300px;
}
.big_nav li.search img {
	vertical-align:middle;
	margin-left:-8px;
	margin-top:-2px;
}

.big_nav li.checkout {
	padding:6px 0  0 0;
	margin:0;
}

.right_nav {
	list-style:none;
	float:right;
}
.right_nav  li {
	color:#ffffff;	
	margin-left:20px;
	line-height:32px;
	float:left;
	height:30px;
	padding-top:12px;
}
.right_nav li a {
	color:#ffffff;	
}
.right_nav li.checkout {
	padding:0;
	margin:0;
	margin-left:20px;
}
.right_nav li.checkout  img{
	padding:0;
	margin:8px 0 0 0;
}

#banner {
	margin-top:38px;
	
}
.round_corner {
	border-radius: 5px;
}
#main_content {
	margin-top:30px;
}
.box {
	margin-top:20px;
	border: 1px solid #ccc;
}
.shadow {
	box-shadow: 0px 2px 2px #888888;
}

.item {
	width:280px;
	height:350px;
	margin-right:46px;
	float:left;
	padding:10px;
}
.item .tag {
	top: -45px;
	right: -89px;
	position: relative;
}
.last_item{
	margin-right:0px !important;
}
.shift_left {
	float:left;
}
.shift_right {
	float:right;
}
h1 {
	font-size: 20px;
	color: #c43c27;
	float: left;
}

.description {
	color:#666;
	font-size:12px;
}
.price {
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.margintop10 {
	margin-top:10px;
}
p { 
	margin-top:5px;
	text-align:center;
}
.image {
	margin-top:-50px;
	clear:both;
}
.red {
	color:#c43c27 !important;
}
.strike {
	text-decoration:line-through;
}

#footer {
	margin-top:120px;
	/*background:#003b64;*/
	background: #31B404;
}
#footer_inner {
	width:1000px;
	margin:0 auto;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
#footer_inner ul {
	list-style:none;
	margin-right:260px;
	float:left;
}
#footer_inner ul  li {
	margin-top:10px;
	font-size:10px;
}

#footer_inner ul li.linkheader {
	font-weight:bold;
	font-size:20px;
	text-decoration:underline;
}
#footer_inner ul  li a{
	color:#fff;
	text-decoration:none;
}
#footer_inner ul  li a:hover{
	text-decoration:underline;
}
.last_ul {
	margin-right:0px !important;
}